/* styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicação das fontes */

/* assets/css/style.css */

/* Importando as fontes personalizadas */
@font-face {
    font-family: 'Old Fenris';
    src: url('../fonts/OldFenris-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exocet Blizzard';
    src: url('../fonts/ExocetBlizzardOT-Medium/ExocetBlizzardOT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Old Fenris', Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Estilizando títulos */
h1, h2, h3 {
    font-family: 'Exocet Blizzard', 'Old Fenris', Arial, sans-serif;
}

/* Outros Navegadores */

@font-face {
    font-family: 'Old Fenris';
    src: url('../fonts/OldFenris-Regular.woff2') format('woff2'),
         url('../fonts/OldFenris-Regular.woff') format('woff'),
         url('../fonts/OldFenris-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




/* ... */





/* Exemplo de uso das fontes */
body {
  font-family: var(--font-old-fenris), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-exocet-blizzard), sans-serif;
}



/* Responsividade */



/* Ajustes para telas menores */
@media (max-width: 768px) {
    /* Menu de Navegação */
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li.logo {
        margin-left: 0;
        align-self: center;
    }

    /* Seção Hero */
    #hero {
        height: 400px;
    }

    .hero-logo img {
        width: 200px;
    }

    /* Tamanhos de Fonte */
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    /* Botões */
    .botoes-classes button, .botoes-mundo button {
        width: 80px;
        height: 80px;
    }

    /* Textos */
    p {
        font-size: 16px;
    }

    #o-jogo #mundo{
    background-color: #111;
    text-align: center;
    background-image: url('assets/img/leather-texture_800.webp');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
    .section-divider img,
    .section-divider-top img {
        height: 50px; /* Ajuste a altura para telas menores */
    }
}



/* Fonte e cor padrão */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

/* Estilizando o Cabeçalho e a Navegação */

/* Cabeçalho */
header {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navegação */
nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li.logo {
    margin-left: auto;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

nav ul li.logo img {
    height: 50px;
}

/* Estilizando a Seção Hero */

#hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/* Vídeo de fundo */
#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -2;
}

/* Logo transparente acima do hero */
.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-logo img {
    width: 300px;
    height: auto;
}


/* Estilos para o divisor de seção */
.section-divider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section-divider img {
    display: block;
    width: 100%;
    height: auto;
}
/* Se quiser que o divisor se sobreponha à próxima seção */
.section-divider {
    position: relative;
    width: 100%;
    height: 50px; /* Ajuste a altura conforme necessário */
    margin-top: -1px; /* Para evitar espaços indesejados */
}

.section-divider img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
/* Remover margem superior da seção para evitar espaço extra */
#o-jogo {
    margin-top: 0;
}

/* Se necessário, ajuste o posicionamento do divisor */
.section-divider-top img {
    position: relative;
    top: -1px; /* Ajuste conforme necessário */
}






/* Estilizando a Seção "O Jogo" */


#o-jogo {
    padding: 80px 20px;
    background-color: #111;
    text-align: center;
    background-image: url('../img/leather-texture_800.webp');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#o-jogo h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.conteudo-o-jogo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.conteudo-o-jogo p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.conteudo-o-jogo h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilizando a Seção "Classes" */
/* Seção Classes */
#classes {
    padding: 80px 20px;
    background-color: #000;
    text-align: center;
}

#classes h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* Botões das Classes */
.botoes-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.botoes-classes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.botoes-classes button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.botoes-classes button:hover img {
    transform: scale(1.1);
}

/* Conteúdo Dinâmico da Classe */
#descricao-classe {
    text-align: center;
}

#descricao-classe h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

#descricao-classe .conteudo-classe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descricao-classe .conteudo-classe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#descricao-classe .conteudo-classe p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
}

/* Estilizando a Seção "Mundo" */
/* Seção Mundo */
#mundo {
    padding: 80px 20px;
    background-color: #111;
    text-align: center;
    background-image: url('../img/leather-texture_800.webp');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#mundo h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* Botões do Mundo */
.botoes-mundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.botoes-mundo button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.botoes-mundo button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.botoes-mundo button:hover img {
    transform: scale(1.1);
}

/* Conteúdo Dinâmico do Mundo */
#descricao-mundo {
    text-align: center;
}

#descricao-mundo h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

#descricao-mundo .conteudo-mundo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descricao-mundo .conteudo-mundo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#descricao-mundo .conteudo-mundo p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
}

/* Estilizando o Rodapé */
/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 14px;
}
